@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --blue: #3364bf;
    --black: #222222;
    --secondary-bg: #e0e0e0;
    --white: #e8e8e9;
    --green: #3cce52;
    --orange: #cfa83a; 
    --red: #ce4a38;

    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: var(--white);
    color: var(--black);
}
header{
    background-color: var(--white);
    min-height: 50px;
    padding: 12px;
    border-bottom: var(--black) 2px solid;
}
nav{
    display: flex;
    justify-content: center;
    gap: 12px;
}
button{
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    background-color: var(--blue);
    border: var(--blue) 1px solid;
    padding: 8px 12px;
}
button:hover{
    cursor: pointer;
    border: var(--black) 1px solid;
}
nav button{
    font-size: 22px;
    color: var(--black);
    background-color: inherit;
    border: var(--black) 1px solid;
    min-width: max(150px, 30%);
}
nav button:focus-within,
nav button:hover {
    background-color: var(--black);
    border: var(--black) 1px solid;
    color: var(--white);
}
main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
}
.button-container button,
.card-button button{
    background-color: inherit;
    outline: none;
    border: none;
    width: fit-content;
    padding: 0;
}
.page-name,
.button-container{
    align-self: center;
}
.page-name{
    font-size: 42px;
    font-weight: 700;
}
dialog{
    background-color: var(--white);
    width: min(75%, 400px);
    max-height: 500px;
    border: 1px solid var(--blue);
    border-radius: none;
    outline: none;
    box-shadow: 1px 1px 3px var(--blue);
    margin: 0 auto;
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
}
form,
label{
    display: flex;
    flex-direction: column;
}
form{
    font-size: 18px;
    font-weight: 500;
    padding: 1.5rem;
    justify-content: space-around;
    gap: 1rem;
}
form h1{
    text-align: center;
}
input,
select{
    height: 36px;
    padding: 8px;
    border: 1px solid var(--blue);
    outline: none;
}
input:focus,
select:focus{
    border: 1px solid var(--blue);
}
form div{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
#content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}
.card{
    background-color: var(--secondary-bg);
    color: var(--black);
    min-height: 250px;
    border-left: 10px solid var(--blue);
    border-radius: 10px;
    padding: 18px 14px;
    box-shadow: 1px 1px 3px var(--blue);
    display: grid;
    gap: 10px;
}
#highPriority{
    border-left: 10px solid var(--red);
    box-shadow: 1px 1px 3px var(--red);
}
#mediumPriority{
    border-left: 10px solid var(--orange);
    box-shadow: 1px 1px 3px var(--orange);
}
#lowPriority{
    border-left: 10px solid var(--green);
    box-shadow: 1px 1px 3px var(--green);
}
.card p:first-of-type,
.card p:last-of-type {
     font-size: 18px;
     font-weight: 500;
}
.due-date{
    font-size: 12px;
}
.card-button{
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    gap: 10px;
}
.cancel-button{
    background-color: var(--red);
}
.invalid {
    border: 2px solid var(--red) !important;
}
.error-message {
    color: var(--red);
    font-size: 0.6em;
    display: block;
    margin-top: 5px;
}
input:required, select:required {
    border-left: 3px solid var(--blue); 
}
.project-card:hover{
    cursor: pointer;
}

